$color: rgb(75, 75, 75);
body{
background-color: $color;
user-select: none;
}   


// home style
.logo {
    height: 32px;
    margin: 16px;
    background: (#001628);
  }
  
  .site-layout .site-layout-background {
    background: rgb(248, 248, 248);
  }

  .account{
    float: right;
    margin-right: 16px;
  }