$color: rgb(114, 160, 162);
body{
background-color: $color;
user-select: none;
}   


// home style
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #dfc;
  }